<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:default.properties"/>

    <bean id="myLoggger" class="demo1.MyLogger" init-method="initLogger">
        <property name="rootLoggerLevel" value="FINE"/>
        <property name="printedLoggerLevel" value="FINE"/>
     </bean>

    <bean id = "fortuneService" class="demo1.HappyFortuneService">
    </bean>
    <bean id = "myCoach" class = "demo1.BaseballCoach">
        <constructor-arg ref="fortuneService"></constructor-arg>
        <property name="number1" value="10"></property>
    </bean>
    <bean id = "sohil" class="demo1.CrossFit">
        <constructor-arg name="fortuneService" ref="fortuneService"></constructor-arg>
    </bean>

    <bean id = "test" class = "demo1.CricketCoach" scope="singleton">
        <property name="fortuneService" ref="fortuneService"/>
        <property name="team" value="${foo.team}"/>
        <property name="email" value="${foo.email}"/>
    </bean>

</beans>